<!DOCTYPE html>
{% extends 'dashboard_layout.html' %}

{% block list %}
<li><button onclick="window.location.href='/dashboard'">Home</button></li>
{% for bar in sidebar_list %}
<li><button onclick="window.location.href='/{{ bar[0] }}'">{{ bar[1] }}</button></li>
{% endfor %}
{% endblock %}


{% block header %}
<h1>Mahasiswa</h1>
{% endblock %}


{% block section %}

{% for student in biodata %}
<div class="notion-block">
    <h2>{{ student.username }}</h2>
    <p><strong>Asal Sekolah: </strong>{{ student.asal_sekolah }}</p>
    <p><strong>Status Kelulusan: </strong>{{ student.status_kelulusan }}</p>
    <p><strong>Gender: </strong>{{ student.Gender }}</p>
</div>
{% endfor %}

{% endblock %}
