{% extends 'dashboard_layout.html' %}

{% block list %}
<li><button onclick="window.location.href='/'">Home</button></li>
{% for bar in sidebar_list %}
<li><button onclick="window.location.href='/{{ bar[0] }}'">{{ bar[1] }}</button></li>
{% endfor %}
{% endblock %}

{% block header %}
<h1>{{ table_name }} Dashboard</h1>
{% endblock %}

{% block section %}
<h2>Section Title</h2>
<p>Some content goes here. This is a paragraph styled like Notion.</p>
<div class="notion-block">
    <p>This is a block element with some content.</p>
</div>
{% endblock %}


