{% extends 'layout.html' %} 

{% block title %} Homepage {% endblock %}

{% block link %}
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
{% endblock %}

{% block body %}
<body>
  <article>
    <nav>
      <ul>
        <a href="">Contact</a>
        <a href="">About</a>
        <a href="" id="left">Logo</a>
      </ul>
    </nav>
    <h1 class="fade-in">Sistem Informasi Mahasiswa Informatika Untan</h1>
    <div id="content" class="fade-in-2">
      <ul type="none">  

        <li><a href="#" onclick="setValue('Mahasiswa')">Mahasiswa</a></li>
        <li><a href="#" onclick="setValue('Admin')">Admin</a></li>

      </ul>
    </div>
    <div class="footer">
      <p>
        Universitas Tanjungpura ©
        <span>

          <script>

            function setValue(value) {
              fetch('/set_value', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ value: value }),
              })
              .then(response => {
                  if (response.ok) {
                      window.location.href = '/login';
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
              });
            }

            document.write(/\d{4}/.exec(Date())[0]);

          </script>

        </span>
      </p>
    </div>
  </article>
</body>

{% endblock %}
