<!DOCTYPE html>
{% extends 'dashboard_layout.html' %}

{% block list %}
<li><button onclick="window.location.href='/dashboard'">Home</button></li>
{% for bar in sidebar_list %}
<li><button onclick="window.location.href='/{{ bar[0] }}'">{{ bar[1] }}</button></li>
{% endfor %}
{% endblock %}


{% block header %}
<h1>Mahasiswa</h1>
<script>
    function confirmDelete(studentId) {
        if (confirm("Are you sure you want to delete this student?")) {
            document.getElementById('delete-form-' + studentId).submit();
        }
    }
</script>
{% endblock %}


{% block section %}
<div class="notion-block">
    <button onclick="window.location.href='/create_student'">Create New Student</button>
</div>
{% for student in mahasiswa %}
<div class="notion-block">
    <h2>{{ student.username }}</h2>
    <p>{{ student.email }}</p>
    
    <button onclick="window.location.href='/edit_mahasiswa/{{ student.nim }}'">Edit</button>
    <form id="delete-form-{{ student.nim }}" action="{{ url_for('delete_mahasiswa', id=student.nim) }}" method="POST" style="display:inline;">
        <button type="button" onclick="confirmDelete('{{ student.nim }}')">Delete</button>
    </form>
    
</div>
{% endfor %}
{% endblock %}
