<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Table {{ table_name }}</title>
</head>
<body>
    <h1>Table: {{ table_name }}</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column in first_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dict_item in rows %}
                <tr>
                    {% for key, value in dict_item.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
 
        </tbody>
    </table>
</body>
</html>
